@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
@section toolbar{
    <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
}
@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">优惠券名称</label>
            <input name="coupons_name" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
<div id="dataTable">
</div>
<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = 500;
    var formHeight = 480;
    var data_coupons_name = [{ label: '门票', value: '0' }, { label: '线路', value: '1' }];
    var data_coupons_ditch = [{ label: '分享程序', value: '0' }, { label: '分享界面', value: '1' }, { label: '分款之后', value: '2' }, { label: '首次注册', value: '3' }, { label: '分享优惠券好友领取', value: '4' }];

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/product_coupons/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            sortName: 'create_time',
            sortOrder: 'desc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '优惠券名称', field: 'coupons_name', width: 200 },
                { title: '优惠券金额', field: 'coupons_money', width: 200 },
                { title: '消费满减金额限制', field: 'coupons_limit', width: 200 },
                {
                    title: '可消费类型', field: 'coupons_type', width: 200, formatter: function (value, row, index) {
                        var newValue = '';
                        data_coupons_name.map(item => { if (value.indexOf(item.value) >= 0) newValue += (newValue ? ',' : '') + '' + item.label; });
                        return newValue;
                    }
                },
                {
                    title: '发放渠道', field: 'coupons_ditch', width: 200, formatter: function (value, row, index) {
                        var newValue = '';
                        data_coupons_ditch.map(item => { if (value.indexOf(item.value) >= 0) newValue += (newValue ? ',' : '') + '' + item.label; });
                        return newValue;
                    }
                },
                { title: '发放张数', field: 'coupons_num', width: 200 },
                {
                    title: '过期时间', field: 'overdue_time', width: 200, formatter: function (value, row, index) {
                        return value == null ? '' : value.split(' ')[0];
                    }
                }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    var data_coupons_name = [{ label: '门票', value: '0' }, { label: '线路', value: '1' }];
    var data_coupons_ditch = [{ label: '分享程序', value: '0' }, { label: '分享界面', value: '1' }, { label: '分款之后', value: '2' }, { label: '首次注册', value: '3' }, { label: '分享优惠券好友领取', value: '4' }];

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/product_coupons/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/product_coupons/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['id'];
            });

            dialogComfirm('确认删除吗？', function () {
                $.postJSON(rootUrl + 'LuTuTravel/product_coupons/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('删除成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>