<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<module value="productRepHome" name="首页">
		<permission value="search" name="查询" />
	</module>
	<module value="productRepIndex" name="产品销售额">
		<permission value="search" name="查询" />
	</module>
	<module value="productRepProfit" name="产品利润表">
		<permission value="search" name="查询" />
	</module>
	<module value="productRepPurchaseChannels" name="产品购买渠道">
		<permission value="search" name="查询" />
	</module>
	<module value="product" name="产品管理">
		<permission value="search" name="查询" />
	</module>
	<module value="ticket" name="门票管理">
		<permission value="search" name="查询" />
	</module>
	<module value="commodity" name="扶贫商品管理">
		<permission value="search" name="查询" />
	</module>
	<module value="producttype" name="标签类别">
		<permission value="search" name="查询" />
	</module>
	<module value="producttag" name="标签类别">
		<permission value="search" name="查询" />
	</module>
	<module value="supplie" name="供应商">
		<permission value="search" name="查询" />
	</module>
	<module value="citypartne" name="城市合伙人">
		<permission value="search" name="查询" />
	</module>
	<module value="members_audit" name="城市合伙人">
		<permission value="search" name="查询" />
	</module>
	<module value="productorder" name="产品线路订单">
		<permission value="search" name="查询" />
	</module>
	<module value="ticketorder" name="门票订单">
		<permission value="search" name="查询" />
	</module>
	<module value="commodityorder" name="扶贫商品订单">
		<permission value="search" name="查询" />
	</module>
	<module value="productmarketing" name="全民营销">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
	</module>
	<module value="productcoupons" name="优惠券管理">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
	</module>
	<module value="dictionary" name="配置">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
	</module>
	<module value="sysuser" name="系统用户">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
	</module>
	<module value="sysrole" name="系统角色">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
		<permission value="manageSysPermission" name="设置系统权限" />
	</module>
	<module value="appsecret" name="接口密钥">
		<permission value="search" name="查询" />
		<permission value="manage" name="管理" />
	</module>
	<module value="sysLog" name="系统日志">
		<permission value="search" name="查询" />
	</module>
</configuration>