<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="首页" Icon="icon_menu_prod">
    <SecondMenu Name="首页">
      <ThirdMenu Name="首页" Url="~/Home/Desktop" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="产品/门票" Icon="icon_menu_prod">
    <SecondMenu Name="产品/门票">
      <ThirdMenu Name="产品管理" Url="~/LuTuTravel/product/Index" Permission="" />
      <ThirdMenu Name="门票管理" Url="~/LuTuTravel/ticket/Index" Permission="" />
      <ThirdMenu Name="热门城市" Url="~/LuTuTravel/product_tag/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="销售管理" Icon="icon_menu_order">
    <SecondMenu Name="销售">
      <ThirdMenu Name="订单查询" Url="~/LuTuTravel/order/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="营销管理" Icon="icon_menu_order">
    <SecondMenu Name="全民营销">
      <ThirdMenu Name="全民营销" Url="~/LuTuTravel/product_marketing/Index" Permission="" />
      <ThirdMenu Name="优惠券管理" Url="~/LuTuTravel/product_coupons/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="系统" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
    </SecondMenu>
  </FirstMenu>
  <!--<FirstMenu Name="项目" Icon="icon_menu_sys">
    <SecondMenu Name="项目管理">
      <ThirdMenu Name="项目管理" Url="~/ProjectManage/Dev_Project/Index" Permission="" />
    </SecondMenu>
  </FirstMenu>-->
</SysMenu>