@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">查询类别</label>
            <select name="condition" class="easyui-combobox" data-options="width:100">
                <option value="">请选择</option>

                <option value="id">审核表id</option>
                <option value="member_id">小程序会员表id</option>
                <option value="phone">发起人手机号</option>
                <option value="image_group">群图片</option>
                <option value="image_group_name">群名称</option>
                <option value="invite_code">邀请码</option>
            </select>
            <input name="keyword" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = '80%';
    var formHeight = '80%';

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/members_audit/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            sortName: 'id',
            sortOrder: 'desc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '用户名', field: 'member_id', width: 200 },
                { title: '发起人手机号', field: 'phone', width: 200 },
                { title: '群图片', field: 'image_group', width: 200 },
                { title: '群名称', field: 'image_group_name', width: 200 },
                { title: '邀请码', field: 'invite_code', width: 200 },
                {
                    title: '审核状态', field: 'status', width: 200, formatter: function (value, row, index) {
                        if (value == '0') return '待审核';
                        else if (value == '1') return '已通过';
                        else if (value == '3') return '已拒绝';
                        else return value;
                    }
                },
                {
                    title: '操作', field: 'operate_status', width: 200, formatter: function (value, row, index) {
                        var ret = '';
                        if (row.status != '1')
                            ret = '<a onclick="ChangeOperateStatusAgree(\'' + row.id + '\',\'1\')">通过</a>' + '&nbsp&nbsp<a onclick="ChangeOperateStatusDisAgree(\'' + row.id + '\',\'3\')">拒绝</a>';
                        return ret + '&nbsp&nbsp<a onclick="show(\'' + row.id + '\')">查看</a>';
                    }
                },
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    function show(id) {
        dialogOpen({
            id: 'form',
            title: '查看',
            width: formWidth,
            height: formHeight,
            url: rootUrl + 'LuTuTravel/members_audit/Form?id=' + id,
        });
    }
    function ChangeOperateStatusAgree(id) {
        dialogComfirm('是否确认通过' + '？', function () {
            $.postJSON(rootUrl + 'LuTuTravel/members_audit/ChangeOperateStatusAgree', { id: id}, function (resJson) {
                if (resJson.Success) {
                    $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                    $('#dataTable').datagrid('reload');
                    dialogMsg('处理成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
    function ChangeOperateStatusDisAgree(id) {
        dialogComfirm('是否拒绝' + '？', function () {
            $.postJSON(rootUrl + 'LuTuTravel/members_audit/ChangeOperateStatusDisAgree', { id: id }, function (resJson) {
                if (resJson.Success) {
                    $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                    $('#dataTable').datagrid('reload');
                    dialogMsg('处理成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/members_audit/Form'
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/members_audit/Form?id=' + id
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['id'];
            });

            dialogComfirm('确认删除吗？', function () {
                $.postJSON(rootUrl + 'LuTuTravel/members_audit/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('删除成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>