@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
@section toolbar{
    <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a>
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">上架/下架</a>
}
@section search{
    <div class="search_wrapper">
        <div class='search_item'>
            <label class='search_label'>产品类别</label>
            <input name="product_type_id" class="easyui-combobox"
                   data-options="width:'120px',editable:true,
                                        valueField: 'id',
                                        textField: 'title',
                                        url: '@Url.Content("~/")LuTuTravel/Product/GetProductType?type=3'">
        </div>
        <div class="search_item">
            <label class="search_label">商品名称</label>
            <input name="title" class="easyui-textbox" style='width:120px'/>
        </div>
        <div class='search_item'>
            <label class='search_label'>发布时间</label>
            <input name='create_time1' class='easyui-datebox' style='width:120px'/>
            <input name='create_time2' class='easyui-datebox' style='width:120px'/>
        </div>
        <div class='search_item'>
            <label class='search_label'>上架状态</label>
            <input name="enable_flag" class="easyui-combobox" data-options="editable:true,width:'120px',
                                        valueField: 'id',
                                        textField: 'text',
                                        data:[{ id:'', text:'全部' },{ id:'1', text: '已上架' },{ id:'0', text: '已下架' }]">
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
<div id="dataTable">
</div>
<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = '100%';
    var formHeight = '100%';

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/commodity/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            sortName: 'Id',
            sortOrder: 'desc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '产品id', field: 'Id', width: 200 },
                { title: '商品名称', field: 'title', width: 200 },
                { title: '产地', field: 'placeofproduction', width: 200 },
                { title: '商品介绍', field: 'commodity_presentations', width: 200 },
                { title: '参考菜谱', field: 'reference_menu', width: 200 },
                { title: '成本价', field: 'origin_price', width: 200 },
                { title: '市场价', field: 'price', width: 200 },
                { title: '团购价', field: 'team_price', width: 200 },
                { title: '团长返佣金额', field: 'team_commission', width: 200 },
                { title: '用户分享所得优惠券面值', field: 'share_amount', width: 200 },
                { title: '是否是推荐(0否 1是)', field: 'recommend_status', width: 200 },
                {
                    title: '是否上架', field: 'enable_flag', width: 200, formatter: function (value, row, index) {
                        return value == '1' ? '是' : '否';
                    }
                }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/commodity/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/commodity/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogComfirm('是否更改产品上线状态？', function () {
                $.postJSON(rootUrl + 'LuTuTravel/product/DeleteData', { id: id }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('操作成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>