@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
    var Id = ViewData["Id"];
    var UploadType = ViewData["UploadType"];
    var Multiple = ViewData["Multiple"];

}
<form id="dataForm" enctype="multipart/form-data" class="easyui-form" method="post" data-options="novalidate:true">
    <table class="table_base">
        <colgroup>
        </colgroup>
        <tbody>
            <tr>
                <th>文件</th>
                <td>
                    <input style="display:none" id="file" type="file" accept="*">
                    <input id="file-display" class="easyui-textbox" data-options="width:'150px',required:false,editable:false">
                    <label for="file" class="easyui-linkbutton" data-options="iconCls:'icon-add'">选择文件</label>
                </td>
            </tr>
        </tbody>
    </table>
</form>
@section foottoolbar{
    <a id="saveForm" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-save'">上传</a>
}
<script>
    var id = '@Id';
    var uploadType = '@UploadType';
    var multiple = '@Multiple';

    $(function () {

        document.getElementById('file').onchange = function () {
            $('#file').getFileBase64(function (base64, fileName) {
                $('#file-display').textbox('setValue', fileName);
            });
        };

        $('#saveForm').click(function () {
            if (!$('#dataForm').form('enableValidation').form('validate'))
                return;

            loading();
            $('#file').getFileBase64(function (base64, fileName) {
                $.postJSON('/LuTuTravel/UploadFile/UploadFileToServer', { uploadType: uploadType, id: id, multiple: multiple, fileName: fileName, fileBase64: base64 }, function (resJson) {
                    loading(false);
                    if (resJson.Success) {
                        debugger;
                        var imagesDiv = parent.$('#' + uploadType).prev();
                        var imageHtml = $('#defaultImg').clone(true).attr('id', resJson.Data.ImageName).attr('src', resJson.Data.ServicePath + resJson.Data.ImageName).show();
                        if (multiple == '0') {//单张图片
                            parent.$('#' + uploadType).val(resJson.Data.ImageName);
                            //加载图片
                            $(imagesDiv).html($(imageHtml));
                            parent.dialogClose('UploadFileForm');
                        }
                        if (multiple == '1') {//多张图片
                            var value = parent.$('#' + uploadType).val();
                            parent.$('#' + uploadType).val(value + (value ? ',' : '') + resJson.Data.ImageName);//多张
                            //加载图片
                            $(imagesDiv).append($(imageHtml));
                        }
                        parent.parent.dialogMsg('上传成功!');
                    }
                    else {
                        parent.parent.dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>
