@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
    var special_status = ViewData["special_status"];
}

@section search{
    <div class="search_wrapper">
        <div class='search_wrapper'>
            <div class='search_item'>
                <input name='special_status' style="display:none" value="@special_status" />
                <label class='search_label'>产品ID</label>
                <input name='product_id' class='easyui-textbox' style='width:150px' />
            </div>
            <div class='search_item'>
                <label class='search_label'>产品名称</label>
                <input name='product_name' class='easyui-textbox' style='width:150px'>
            </div>
            <div class='search_item'>
                <label class='search_label'>区域</label>
                <input name='product_area' class='easyui-textbox' style='width:150px' />
            </div>
            <br />
            <div class='search_item'>
                <label class='search_label'>拼团时间</label>
                <input name='start_time1' class='easyui-datebox' style='width:150px' />
                <input name='start_time2' class='easyui-datebox' style='width:150px' />
            </div>
            <div class='search_item'>
                <label class='search_label'>下单时间</label>
                <input name='create_time1' class='easyui-datebox' style='width:150px' />
                <input name='create_time2' class='easyui-datebox' style='width:150px' />
            </div>
            <div class="search_submit">
                <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
            </div>
        </div>
    </div>
}
<div id="dataTable">
</div>
<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = 500;
    var formHeight = 655;

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/order/GetDataList?special_status=@special_status',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //sortName: 'Id',
            //sortOrder: 'asc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '团表id', hidden: true, field: 'team_id', width: 200 },
                { title: 'Id', field: 'product_id', width: 200 },
                //{ title: '地区', field: 'product_area', width: 200 },
                { title: '名称', field: 'productName', width: 200 },
                //{ title: '1成团购买 2单独购买', hidden: true, field: 'type', width: 200 },
                { title: '金额', field: 'money', width: 200 },
                { title: '购买数量', field: 'num', width: 200 },
                { title: '姓名', field: 'realName', width: 200 },
                { title: '用户身份证号', field: 'id_card_number',hidden: '@special_status' != '1', width: 200 },
                { title: '手机号', field: 'phone', width: 200 },
                { title: '邮寄地址', field: 'mail_address', hidden: '@special_status' != '2', width: 200 },
                //{
                //    title: '开团时间', field: 'start_time', width: 200, formatter: function (value, row, index) {
                //        return value == null ? '' : value.split(' ')[0];
                //    }
                //},
                //{
                //    title: '创建时间', field: 'create_time', width: 200, formatter: function (value, row, index) {
                //        return value == null ? '' : value.split(' ')[0];
                //    }
                //},
                {
                    title: '订单状态', field: 'status', width: 200, formatter: function (value, row, index) {
                        if (value == '1') return '下单成功';
                        else if (value == '2') return '已取消';
                        else if (value == '3') return '下单失败';
                        else return value;
                    }
                },
                {
                    title: '付款状态', field: 'payStatus', width: 200, formatter: function (value, row, index) {
                        if (value == '0') return '支付中';
                        else if (value == '1') return '支付成功';
                        else if (value == '2') return '支付失败';
                        else if (value == '3') return '退款成功';
                        else if (value == '4') return '退款失败';
                        else return value;// 0支付中 1支付成功 2支付失败 3退款成功 4退款失败
                    }
                },
                {
                    title: '操作', field: 'operate_status', width: 200, formatter: function (value, row, index) {
                        if (value == '0') return '<a onclick="operateStatus(\'' + row.Id + '\')">未处理</a>';
                        else if (value == '1') return '已处理';
                        else return value;// 0未处理 1已处理
                    }
                }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    function operateStatus(id) {
        dialogComfirm('确认已处理吗？', function () {
            $.postJSON(rootUrl + 'LuTuTravel/order/ChangeOperateStatus', { id: id }, function (resJson) {
                if (resJson.Success) {
                    $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                    $('#dataTable').datagrid('reload');
                    dialogMsg('处理成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
    $(function () {
        initTable();
        
    });
</script>