@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}


@section search{
<div class="search_wrapper">
    <div class='search_wrapper'>
        <div class='search_item'>
            <label class='search_label'>产品ID</label>
            <input name='product_id' class='easyui-textbox' style='width:150px' />
        </div>
        <div class='search_item'>
            <label class='search_label'>产品名称</label>
            <input name='product_name' class='easyui-textbox' style='width:150px'>
        </div>
        <div class='search_item'>
            <label class='search_label'>区域</label>
            <input name='product_area' class='easyui-textbox' style='width:150px' />
        </div>
        <br />
        <div class='search_item'>
            <label class='search_label'>拼团时间</label>
            <input name='start_time1' class='easyui-datebox' style='width:150px' />
            <input name='start_time2' class='easyui-datebox' style='width:150px' />
        </div>
        <div class='search_item'>
            <label class='search_label'>下单时间</label>
            <input name='create_time1' class='easyui-datebox' style='width:150px' />
            <input name='create_time2' class='easyui-datebox' style='width:150px' />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
</div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = 500;
    var formHeight = 655;

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/order/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //sortName: 'Id',
            //sortOrder: 'asc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '团表id', hidden: true, field: 'team_id', width: 200 },
                { title: '产品id', field: 'product_id', width: 200 },
                { title: '地区', field: 'product_area', width: 200 },
                { title: '产品名称', field: 'product_name', width: 200 },
                { title: '1成团购买 2单独购买', hidden: true, field: 'type', width: 200 },
                { title: '金额', field: 'money', width: 200 },
                { title: '人数', field: 'num', width: 200 },
                { title: '下单人联系方式', field: 'phone', hidden: true, width: 200 },
                { title: '下单人姓名', field: 'name', hidden: true, width: 200 },
                { title: '开团时间', field: 'start_time', width: 200 },
                { title: '创建时间', field: 'create_time', width: 200 },
                {
                    title: '订单状态', field: 'status', width: 200, formatter: function (value, row,index) {
                        if (value == '1') return '下单成功';
                        else if (value == '2') return '已取消';
                        else if (value == '3') return '下单失败';
                        else return value;
                    }
                },
                { title: '下单失败原因', field: 'fail_reason', hidden: true, width: 200 }
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/order/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/order/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['Id'];
            });

            dialogComfirm('确认删除吗？', function () {
                $.postJSON(rootUrl + 'LuTuTravel/order/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('删除成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>