@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

@section toolbar{
    @*<a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>*@
    <a id="delete" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">上架/下架</a>
    <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">查看</a>
}

@section search{
    <div class="search_wrapper">
        <div class="search_item">
            <label class="search_label">查询类别</label>
            <select name="condition" class="easyui-combobox" data-options="width:200">
                <option value="">请选择</option>

                <option value="title">门票标题</option>
                <option value="notice">购买须知</option>
                <option value="description">介绍信息</option>
                <option value="brief">产品简介</option>
            </select>
            <input name="keyword" class="easyui-textbox" style="width:150px" />
        </div>
        <div class="search_submit">
            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchGrid(this,'#dataTable')">查询</a>
        </div>
    </div>
}
<div id="dataTable">

</div>

<script>
    var rootUrl = '@Url.Content("~/")';
    var formWidth = '100%';
    var formHeight = '100%';

    function initTable() {
        $('#dataTable').datagrid({
            url: rootUrl + 'LuTuTravel/Tickets/GetDataList',
            method: 'POST',
            //queryParams: { 'id': id },
            idField: 'Id',
            fit: true,
            fitColumns: true,
            singleSelect: false,
            selectOnCheck: false,
            checkOnSelect: false,
            //sortName: 'Id',
            //sortOrder: 'asc',
            //rownumbers: true,
            pagination: true,
            pageSize: 30,
            //nowrap: false,
            pageList: [10, 20, 30, 50, 100, 150, 200],
            //showFooter: true,
            columns: [[
                { title: 'ck', field: 'ck', checkbox: true },

                { title: '门票Id', field: 'Id', width: 200 },
                { title: '门票标题', field: 'title', width: 200 },
                {
                    title: '类型', field: 'type', width: 200, formatter: function (value, row, index) {
                        if (value == "1") return '普通票';
                        else if (value == "2") return '套票';
                        else if (value == "3") return '线路';
                    }
                },
                {
                    title: '状态', field: 'status', width: 200, formatter: function (value, row, index) {
                        if (value == "0") return '已下线';
                        else if (value == "1") return '已上线';
                    }
                },
                { title: '门票原价', field: 'original_price', width: 200 },
                { title: '市场价', field: 'market_price', width: 200 },
                {
                    title: '退票类型', field: 'refund_type', width: 200, formatter: function (value, row, index) {
                        if (value == "1") return '允许退票';
                        else if (value == "2") return '不可退票';
                        else if (value == "3") return '管理员审核';
                    }
                },
                { title: '购买须知', field: 'notice', width: 200 },
                { title: '介绍信息', field: 'description', width: 200 },
                { title: '产品简介', field: 'brief', width: 200 },
                { title: '默认分销价', field: 'sku_user_price', width: 200 },
                { title: '默认返现', field: 'sku_back_cash', width: 200 },
                { title: '默认市场价', field: 'sku_market_price', width: 200 },
                { title: '默认指导/建议价', field: 'sku_suggest_price', width: 200 },
                { title: '实际价格(儿童价)', field: 'nett_price2', width: 200 },
                //{ title: '景区ID', field: 'supplier_id', width: 200 },
                //{ title: '下单时是否必须提供身份证号码字段 1是，0否', field: 'must_id_number', width: 200 },
                //{ title: '所属地区(省份--城市--县)', field: 'county_name', width: 200 },
                //{ title: '退票手续费类型：1: 按票数计算；2：按订单计算，每退一张票需扣手续费 1/票数；', field: 'refund_chanrge_type', width: 200 },
                //{ title: '退票手续费：数值，例 5.00 单位/元；结果等于百分比+固定值', field: 'refund_chanrge', width: 200 },
                //{ title: '退票手续费百分比值：数值 按票价的百分比计算', field: 'self_refund_scale', width: 200 },
                //{ title: '退票手续费固定值，单位/元', field: 'self_refund_fixed', width: 200 },
                //{ title: '短信发送类型;1二维码，2文字码', field: 'send_type', width: 200 },
                //{ title: '门票数量', field: 'amount', width: 200 },
                //{ title: '门票排序', field: 'sort_order', width: 200 },
                //{ title: '有效期类型;1有效日期，2固定日期', field: 'validity_type', width: 200 },
                //{ title: 'validity_type=1时下单成功开始有效期，以天计算', field: 'validity_day', width: 200 },
                //{ title: 'validity_type=2时固定开始时间', field: 'start_time', width: 200 },
                //{ title: 'validity_type=2时固定结束时间', field: 'expire_time', width: 200 },
                //{ title: '短信内容', field: 'sms_content', width: 200 },
                //{ title: '彩信内容', field: 'mms_content', width: 200 },
                //{ title: '打印内容', field: 'print_content', width: 200 },
                //{ title: '封面图片网址', field: 'image', width: 200 },
                //{ title: '是否是从第三方导入', field: 'is_import', width: 200 },
                //{ title: '实际价格(成人价) //当天的分销价；分销商以此与管理员结算', field: 'nett_price', width: 200 },
                { title: '当天的返现：订单完成消费（验证/核销）', field: 'back_cash', width: 200 },
                {
                    title: '支付类型', field: 'pay_type', width: 200, formatter: function (value, row, index) {
                        if (value == "1") return '在线支付';
                        else if (value == "2") return '景区到付';
                    }
                },
            ]],
            onBeforeLoad: function (param) {

            },
            onBeforeSelect: function () {
                return false;
            }
        });
    }

    $(function () {
        initTable();

        //添加数据
        $('#add').click(function () {
            dialogOpen({
                id: 'form',
                title: '添加数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/Tickets/Form',
            });
        });

        //修改数据
        $('#edit').click(function () {
            var selected = $("#dataTable").datagrid("getChecked");
            if (!selected || !selected.length) {
                dialogError('请选择要修改的记录!');
                return;
            }
            var id = selected[0].Id;

            dialogOpen({
                id: 'form',
                title: '修改数据',
                width: formWidth,
                height: formHeight,
                url: rootUrl + 'LuTuTravel/Tickets/Form?id=' + id,
            });
        });

        //删除数据
        $('#delete').click(function () {
            var checked = $("#dataTable").datagrid("getChecked");
            if (!checked || !checked.length) {
                dialogError('请选择要删除的记录!');
                return;
            }
            var ids = $.map(checked, function (item) {
                return item['Id'];
            });

            dialogComfirm('是否更改门票上线状态？', function () {
                $.postJSON(rootUrl + 'LuTuTravel/Tickets/ChangeStatus', { id: ids }, function (resJson) {
                    if (resJson.Success) {
                        $('#dataTable').datagrid('clearSelections').datagrid('clearChecked');
                        $('#dataTable').datagrid('reload');
                        dialogMsg('操作成功!');
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            });
        });
    });
</script>